@import "./variables";

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-family: $font-family;
}

h1{
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
